/node_modules
/public/hot
/public/storage
# /public/upload
# /storage
/storage/app/public/*
# /storage/app/public
# /storage/fonts
# /storage/framework
/storage/framework/laravel-excel/*
/vendor
# /public/
# !/public/assets/img/kci/
/public/images/
/public/upload/
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
vendor.zip

